@model WebHarcamaTakip.Models.Expense
@{
    ViewData["Title"] = "Kayıt Ekle";
}
<h2>Yeni Kayıt Ekle</h2>
<form asp-action="Create" method="post">
    <label>Açıklama:</label>
    <input asp-for="Description" required /><br />

    <label>Kategori:</label>
    <input asp-for="Category" required /><br />

    <label>Tutar:</label>
    <input asp-for="Amount" required /><br />

    <label>Tür:</label>
    <select asp-for="IsIncome">
        <option value="false">Gider</option>
        <option value="true">Gelir</option>
    </select><br />

    <button type="submit">Kaydet</button>
</form>
